/* ---- Generals -------------------------------------------------------------------------------------------------------*//* -moz-linear-gradient(top, #529A8B 0%, #0E654E 100%);  -moz-linear-gradient(top, #9A5261 0%, #650E25 100%); */
:root {
    --title: rgba(13, 55, 64, 0.756);
    --header: rgba(48, 7, 29, 0.219);
    --button: rgba(71, 29, 77, 0.629);
    --light-text:rgb(255, 255, 255);
    --dark-text: rgba(110, 41, 79, 0.714);
    font-size: 15px;
}
* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.flex100 {
    display: flex;
    max-width: 100%;
}
/* ---- END Generals----------------------------------------------------------------------------------------------------*/

/* ---- Header ---------------------------------------------------------------------------------------------------------*/
#title {
    width: 100vw;
    align-items: center;
    justify-items: center;
    padding: 0.7% 0;
    font-size: 0.9rem;
    font-weight: normal;
    color: var(--light-text);
    background-color: var(--title);
}
header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 16rem;
    padding: 0.5% 0.5% 0 0;
}
#menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 11rem;
    height: 95%;
    margin: 0;
    padding: 0.2rem 0.5rem;
}
#menu a, .card a , button {
    min-width: max-content;
    padding: 0.5rem 1rem;
    border: none;
    text-align: center;
    font-size: 1.15rem;
    font-weight: bolder;
    color: var(--dark-text);
    background-color: transparent;
    text-decoration: none;
}
#menu a.active, .card a {
    width: 100%;
    border-radius: 10px;
    color: var(--light-text);
    background-color: var(--button);
}
.carousel  {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 0;
    /* background-image: linear-gradient(to right, var(--header), var(--card)); */
    background-image: url("/img/sfondi/sfondo1.jpg");
    background-size: cover;
    overflow: hidden;
    transition: transform 0.5s;
}
.carousel picture {
    flex: 1;
    display: none;
}
.carousel picture.active {
    display: block;
  }
.carousel picture img {
    object-fit: cover;
    width: 100%;
    height: fit-content;
}
@keyframes hideToLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}
@keyframes showFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
/* ---- END Header -----------------------------------------------------------------------------------------------------*/

/* ---- Cards ----------------------------------------------------------------------------------------------------------*/
.card {
    display: flex;
    flex-direction: column;
    width: 25%;
    min-height: max-content;
    border: 1px solid var(--dark-text);
    border-radius: 5px;
    padding: 1.5% 2%;
    margin: 4%;
    background-image: url("/img/sfondi/sfondo1.jpg");
}
.card h3 {
    width: 100%;
    margin-bottom: 1.2rem;
    font-size: 1.4rem;
    font-weight: 900;
    color: var(--dark-text);
}
.card p {
    height: 50%;
    margin: 0.2rem auto 2rem;
    font-size: 1.1em;
    text-align: justify;
}
.card img {
    margin: 0.7rem auto 1.5rem;
    height: 7rem;
    object-fit: cover;
}
.card a {
    font-weight: 400;
    font-size: 1rem;
}
/* ---- End Cards ------------------------------------------------------------------------------------------------------*/

/* ---- Project cards --------------------------------------------------------------------------------------------------*/
#proj-card {
    width: 45%;
    background-image: none;
}
#proj-card h3 {
    font-size: 1.5rem;
    color: var(--title);
}
#proj-card img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}
.card a {
    font-weight: 400;
    font-size: 1rem;
}
/* ---- End Project Cards ----------------------------------------------------------------------------------------------*/


@media only screen and (max-width: 1024px) {
    :root {
        font-size: 17px;
    }
    .flex100 {
        flex-direction: column;
    }
    #title {
        padding: 0.7rem;
        font-size: 0.7rem;
    }
    header.flex100 {
        flex-direction: column-reverse;
        /* height: fit-content; */
        padding: 0;
        margin: 0.5% 0 0;
    }
    #menu {
        flex-direction: row;
        width: 100%;
        margin: 0 auto 4%;
        padding: 1%;
        background-color: var(--light-text);
    }
    #menu a.active, #menu a {
        width: 8rem;
        min-width: fit-content;
        height: fit-content;
        padding: 0.8%;
    }
    .card, #proj-card {
        width: 85%;
        margin: 7% auto;
        padding: 3% 5%;
    }
    .card p, #proj-card p {
        text-align: center;
    }
}


@media only screen and (max-width: 500px) {
    :root {
        font-size: 13px;
    }
    .card, #proj-card {
        width: 90%;
        margin: 7% auto;
        padding: 2rem 1rem;
    }
}