@media only screen and (max-width: 1680px) {
    :root {
        font-size: 13px;
    }
    #menu>.button {
        padding: 0.5rem 1.3rem;
    }
    #menu {
        padding: 0.5rem 1.2rem;
    }
}

@media only screen and (max-width: 1440px) {
    :root {
        font-size: 12px;
    }
    header {
        height: 15rem;
    }
    #menu>.button {
        padding: 0.5rem 1.2rem;
    }
    #menu {
        padding: 0.5rem 1rem;
    }
}

@media only screen and (max-width: 1280px) {
    :root {
        font-size: 11px;
    }
    header {
        height: 14rem;
    }
    #menu>.button {
        width: 7.5rem;
        padding: 0.4em 0.9rem;
    }
    #menu {
        padding: 0.5rem 0.9rem;
    }
    .proj-card img {
        height: 14rem;
    }
}

@media only screen and (max-width: 1024px) {
    :root {
        font-size: 10px;
    }
    header {
        height: 13.5rem;
    }
    #menu>.button {
        width: 7rem;
        padding: 0.4rem 0.5rem;
    }
    #menu {
        padding: 0.5rem 0.4rem;
    }
    .proj-card img {
        height: 12rem;
    }
    .project {
        flex-direction: column;
        margin: auto;
        padding: 5%;
    }
    .screen, .par {
        width: 100%;
        margin: auto;
        padding: 1%;
    }
    .par p {
        font-size: 1.5vw;
    }
}

@media only screen and (max-width: 880px) {
    header {
        height: 10rem;
    }
    #menu>.button {
        min-width: 6.5rem;
        padding: 0.2rem 0.1rem;
    }
    #menu {
        padding: 0.2rem 0.3rem;
    }
}   

@media only screen and (max-width: 700px) {
    :root {
        font-size: 12px;
    }
    div.flexOr, .card, .section {
        margin: auto;
    }
    .section>.flexOr {
        flex-direction: column;
        margin: auto;                 
    }
    #title {
        padding: 1% 0;
        font-size: 0.7rem;
    }
    header.flexOr {
        flex-direction: column-reverse;
        padding: 0;
    }
    header {
        margin: 0.5% auto 0.5%;
        height: auto;
    }
    .carousel picture img {
        object-fit: contain;
        padding: 0;
        margin: auto;
    }
    .carousel {
        height: auto;
        padding: 0;
    }
    #menu {
        flex-direction: row;
        width: 100%;
        margin: 0 auto 4%;
        padding: 0.9%;
        background-color: var(--light-text);
    }
    #menu a.active, #menu a {
        width: 8rem;
        min-width: max-content;
        height: max-content;
        padding: 0.8%;
    }
    .section {
        margin: 3% auto;
        width: 80vw;
    }
    .section h3 {
        margin: 0 auto 5%;
    }
    .card {
        margin: 0 auto 5%;
        padding: 3% 5%;
    }
    .card p {
        text-align: center;
    }
    .last-proj img {
        width: 80%;
    }
    .proj-card img {
        height: 16rem;
    }
    img.arrow {
        width: 1.5rem;
        margin: 0;
        padding: 0;
    }
    .project {
        flex-direction: column;
        padding: 4% 4% 1%;
    }
    .screen, .par {
        width: 100%;
        padding: 0;
    }
    .screen>img {
        width: 100%;
    }
    .par p, .last-proj p, .intro p {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 480px) {
    :root {
        font-size: 10px;
    }
    #title {
        padding: 1.1% 0;
    }
    .section {
        width: 85vw;
    }
    .card {
        width: 100%;
        padding: 4% 2%;
    }
    .proj-card img {
        height: 14rem;
    }
    .project {
        flex-direction: column;
        padding: 4% 4% 1%;
    }
}