    <style>
        .menu {
            background-image: url("https://img.freepik.com/free-photo/cream-grunge-wall-textured_53876-95485.jpg?w=996&t=st=1690531774~exp=1690532374~hmac=278aaffb633f8caf673bff6f7effb47547d60965f8457ea2ba84864d5c79e20c");
            color: #191919;
            font-weight: bold;
            border-radius: 3px 7px;
            padding: 5px 7px 5px 7px;
            border: 2px solid black;
            font-size: 1.7vw;
            }
        </style>

        <div id="footer">
        <span><a class="menu" href="index.html">HOME</a></span>
        <span><a class="menu" href="flask.html">Portfolio WEBAPP</a></span>
        <span><a class="menu" href="tkinter.html">Portfolio TKINTER</a></span>
        <span><a class="menu" href="console.html">Portfolio CONSOLE</a></span>
</div>
