---
layout: index_base
title: Progetti Java
---

<div class="section">
    <div class="card">
        <div>
            <img src="{{ site.baseurl }}/img/loghi/logoJava.PNG" alt="logo Java">
        </div>
        <p>
            Raccolta di progetti full stack sviluppati in Java.
            <br><br>
            Le GUI utilizzano il framework Swing, mentre le WebApp sono implementate
            con le Servlet oppure con il framework Spring Boot.
        </p>
    </div>
</div>

<div class="section">
    <div class="flexOr">     
        {% for card in site.data.java.cards1 %}
            {% 
                include card_base.html 
                title = card.title 
                image = card.image
                content = card.content
                link = card.link
                type = card.type
            %}
        {% endfor %}
    </div>
</div>

<div class="section">
    <div class="flexOr">
        {% for card in site.data.java.cards2 %}
        {% 
            include card_base.html 
            title = card.title 
            image = card.image
            content = card.content
            link = card.link
            type = card.type
        %}
    {% endfor %}
    </div>
</div>

<div class="section">
    <div class="flexOr">
        {% for card in site.data.java.cards3 %}
        {% 
            include card_base.html 
            title = card.title 
            image = card.image
            content = card.content
            link = card.link
            type = card.type
        %}
    {% endfor %}
    </div>
</div>