---
layout: index_base
title: Progetti Python
---

<div class="section">
    <div class="card">
        <div>
            <img src="{{ site.baseurl }}/img/loghi/logoPython.PNG" alt="logo Python">
        </div>
        <p>
            Raccolta di progetti full stack sviluppati in Python.
            <br><br>
            I progetti GUI sono implementati utilizzando il framework Tkinter, mentre le WebApp utilizzano Flask. 
        </p>
    </div>
</div>

<div class="section">
    <div class="flexOr">     
        {% for card in site.data.python.cards1 %}
            {% 
                include card-base.html 
                title = card.title 
                image = card.image
                content = card.content
                link = card.link
                type = card.type
            %}
        {% endfor %}
    </div>
</div>

<div class="section">
    <div class="flexOr">
        {% for card in site.data.python.cards2 %}
        {% 
            include card-base.html 
            title = card.title 
            image = card.image
            content = card.content
            link = card.link
            type = card.type
        %}
    {% endfor %}
    </div>
</div>

<div class="section">
    <div class="flexOr">
        {% for card in site.data.python.cards3 %}
        {% 
            include card-base.html
            title = card.title 
            image = card.image
            content = card.content
            link = card.link
            type = card.type
        %}
    {% endfor %}
    </div>
</div>