* {
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-family: Calibri;
    color: #191919;
}
.menu {
    background-image: url("https://img.freepik.com/free-photo/cream-grunge-wall-textured_53876-95485.jpg?w=996&t=st=1690531774~exp=1690532374~hmac=278aaffb633f8caf673bff6f7effb47547d60965f8457ea2ba84864d5c79e20c");
    color: #191919;
    font-weight: bold;
    border-radius: 3px 7px;
    padding: 5px 7px 5px 7px;
    border: 2px solid black;
    font-size: 1.7vw;
}
.index_body {
    background-image: url("https://images.unsplash.com/photo-1585314062604-1a357de8b000?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80");
    background-size: cover;
}
body {
    background-color: #dfc6bb;
    background-size: cover;
    background-image: url("https://img.freepik.com/free-photo/cream-grunge-wall-textured_53876-95485.jpg?w=996&t=st=1690531774~exp=1690532374~hmac=278aaffb633f8caf673bff6f7effb47547d60965f8457ea2ba84864d5c79e20c");
    font-size: 2.8vw;
}
.logo {
    width: 15%;
}
.title {
    position: relative;
    top: 0%;
    box-shadow: 10px 10px 7px 7px #191919;
    background-color: #d1ac9c;
    background-image: url("https://img.freepik.com/free-photo/cream-grunge-wall-textured_53876-95485.jpg?w=996&t=st=1690531774~exp=1690532374~hmac=278aaffb633f8caf673bff6f7effb47547d60965f8457ea2ba84864d5c79e20c");
    border: 5px solid #191919;
    border-radius: 15px 15px;
    width: 40%;
    margin: 1% auto 1%;
    padding: 10px 0px 7px 0px;
    display: flex;
    font-size: 4vw;
}
.index_block {
    box-shadow: 10px 10px 7px 7px #191919;
    background-color: #D4B2A2;
    background-image: url("https://img.freepik.com/premium-photo/recycled-white-paper-texture-background-vintage-banner-wallpaper_118047-9093.jpg?w=1380");
    border: 5px solid #191919;
    border-radius: 15px 5px;
    width: 25%;
    font-size: 1.4vw;
    padding: 2%;
    margin-top: 0.3%;
    margin-bottom: 0%;
}
.block {
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid #191919;
    border-radius: 5px 5px;
    width: 320px;
    height: 270px;
    font-size: 2vw;
    color: #191919;
    margin: auto;
    padding: 1%;
    margin: 3%;
    margin-bottom: 5%;
}

@media screen and (max-width: 768px) {
    * {
        width: 98%;
    }
    .title {
        width: 90%;
        font-size: 8vw;
        margin-right: 0%;
        margin-left: 0%;
        right: 0%;
        left: 0%;
        margin: auto;
        padding: 8px 0px 2px 0px;
    }
    .logo {
        margin: auto;
    }
    .menu {
        font-size: 2.4vw;
        width: 60%;
    }
    .index_block {
        margin-right: 0%;
        margin-left: 0%;
        right: 0%;
        left: 0%;
        margin: auto;
        font-size: 4vw;
        width: 75%;
        padding: 7% 3% 7% 3%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .block {
        width: 270px;
        height: 228px;
        display: block;
        font-size: 5.5vw;
        margin: auto;
        margin-bottom: 10%;
        margin-top: 10%;
    }
}
