---
layout: index_base
title: Progetti PHP
---

    <div class="flex100">

        <div class="card" id="proj-card">
            <div>
                <h3>Analisi di bilancio</h3>
            </div>
            <div>
                <img src="{{ baseurl }}/img/card-progetti/bilanci.png">
            </div>
            <p>
                Web app che effettua l'analisi per indici a partire dai dati di bilancio inseriti dall'utente
                e permette di salvare i risultati per visualizzarli nello storico.
                <br><br>
                In altre sezioni è possibile consultare articoli ed inviare domande allo staff.
                <br>
                Comprende una sezione amministratore che facilita l'aggiornamento dei contenuti del sito.
                <br><br>
                E' programmato ad oggetti secondo uno schema MVC e utilizza il Composer per la gestione delle dipendenze.
            </p>
            <div>
                <a href="">Vai al progetto</a>
            </div>
        </div>

        <div class="card" id="proj-card">
            <div>
                <h3>Registro presenze</h3>
            </div>
            <div>
                <img src="{{ baseurl }}/img/card-progetti/registro.png">
            </div>
            <p>
                Web app che gestisce il registro elettronico di una scuola online.
                <br><br>
                Offre al docente la possibilità di consultare e scaricare l'elenco dei propri corsi 
                ed il calendario delle lezioni, o di inviare un'e-mail all'assistenza tramite un form.
                <br><br>
                Il progetto include il file MySQL per la creazione delle tabelle, oltre funzioni 
                e stored procedures per gestirle.
                <br><br>
                E' programmato in procedurale e utilizza il Composer per la gestione delle dipendenze.
            </p>
            <div>
                <a href="">Vai al progetto</a>
            </div>
        </div>

    </div>