<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} - {% endif %}Portfolio EnMa</title>
    <link rel="stylesheet" href="../styles/index_style.css" />
</head>
<body>
    <header>
        <h1>Portfolio EnMa</h1>
    </header>
    <main>
        <h2>Base della pagina</h2>
        {{ content }}
    </main>
    <hr>
    <div id="footer_menu">
        <span><a class="menu" href="index.html">HOME</a></span>
        <span><a class="menu" href="flask.html">Portfolio WEBAPP</a></span>
        <span><a class="menu" href="tkinter.html">Portfolio TKINTER</a></span>
        <span><a class="menu" href="console.html">Portfolio CONSOLE</a></span>
    </div>
    <hr>
</body>
</html>
