<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="styles/proj_style.css">
</head>
<body>
    <main>
        {{ content }}
    </main>
    <hr>
    <div id="footer_menu">
        <span><a class="menu" href="index.html">HOME</a></span>
        <span><a class="menu" href="flask.html">Portfolio WEBAPP</a></span>
        <span><a class="menu" href="tkinter.html">Portfolio TKINTER</a></span>
        <span><a class="menu" href="console.html">Portfolio CONSOLE</a></span>
    </div>
    <hr>
</body>
</html>